

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}




.button {
    background-color: #000;
    color: #fff;
    border: 1.5px solid #666;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
    cursor: pointer;
}

.button:hover {
    color: #d3d2f8 ;
}

.button:active {
  border: 1.5px solid #d3d2f8;
  color: #d3d2f8;

}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.button-end {
  width: 265px;
  text-align: center;
  padding: 7.75px;
}

.button-main {
  margin-left: 5px;
  padding: 3px;
}

.lable {
  margin-left: 50px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.game-board-1 {
  transform: rotate(180deg);
}

.center {
  text-align: center;
}

.center-block {
  display: inline-block;
}

.center-border {
  border-top: 2px solid #222;
  border-left: 1px solid #222;
  border-bottom: 1px solid #222;
  border-right: 2px solid #222;
}

[class~=game-board-1] .piece {
  transform: rotate(180deg) translateY(8px);
}

.square {
  border: 1px solid #666;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.white {
  background: #fff;
}

.black {
  background: #ddd;
}
.selected-square {
  background: #99F;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-info {
  margin-left: 20px;
}

