

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


.end-button {
  background-color: #000;
  color: #fff;
  width: 265px;
  text-align: center;
  padding: 7.75px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.game-board-1 {
  transform: rotate(180deg);
}

.center {
  text-align: center;
}

.center-block {
  display: inline-block;
  border-top: 2px solid #222;
  border-left: 1px solid #222;
  border-bottom: 1px solid #222;
  border-right: 2px solid #222;
}

[class~=game-board-1] .piece {
  transform: rotate(180deg) translateY(8px);
}

.square {
  border: 1px solid #666;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.white {
  background: #fff;
}

.black {
  background: #ddd;
}
.selected-square {
  background: #99F;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-info {
  margin-left: 20px;
}

